body {
    background: #0e0e0e;
    color: #fff;
    font-family: sans-serif;
}

.wrapper {
    justify-content: center;
    min-width: 600px, max-width: 1500px;
    margin: 0 auto;
}



/*Responsive table*/

table {
    overflow:hidden;
    border-collapse: collapse;
    background: #34495e;
    color: #f3f3f3;
    justify-content: center;
}

th {
    padding: 8px;
    text-align: center;
}

td {
    padding: 8px;
    text-align: left;
}



/* Zebra striping */

tr:nth-of-type(odd) {
    background: #34495e;
}

th {
    background: #2c3e50;
    font-weight: bold;
}


